form {
    display: inline-block;
    width: 100%;
}
.form-row {
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;
}
.form-row:last-of-type {
    margin-bottom: 0;
}
label {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
}
input {
    display: inline-block;
    width: 100%;
    line-height: 30px;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid #999;
}
.form-row > span {
    display: inline-block;
}
.form-row > a {
    display: inline-block;
}
