body {
    background-color: #68bed3;
}

.container {
    display: inline-block;
    width: 800px;
    margin-top: 100px;
    margin-left: calc((100% - 800px) / 2);
}
.left-column {
    display: inline-block;
    width: 40%;
    float: left;
    padding: 40px;
    margin-top: 20px;
    background-color: #4242a4;
    color: #fff;
}
h1 {
    display: inline-block;
    width: 100%;
}
footer {
    display: inline-block;
    width: 100%;
}
footer > a {
    display: inline-block;
    color: #fff;
}
footer > span {
    display: inline-block;
}

.right-column {
    display: inline-block;
    width: 60%;
    float: left;
    padding: 60px;
    background-color: #fff;
}
.close {
    display: inline-block;
}
form {
    display: inline-block;
    width: 100%;
}
.form-row {
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;
}
.form-row:last-of-type {
    margin-bottom: 0;
}
label {
    display: inline-block;
    width: 100%;
}
input {
    display: inline-block;
    width: 100%;
}
.btn {
    display: inline-block;
}
.form-row > span {
    display: inline-block;
}
.form-row > a {
    display: inline-block;
}
